awscli
beautifulsoup4
boto3
Cython
google-api-core
google-cloud-bigquery
google-cloud-core
google-cloud-storage
graphviz
ipython
jupyter
jupyterlab
lxml
matplotlib
numpy
opencv-contrib-python
opencv-python
pandas
psutil
scikit-image
scikit-learn
scipy
urllib3
tensorflow-cpu
keras
torch
torchvision
